body {
  background-color: #256D85;
  font-family: 'Ubuntu', sans-serif;
  font-size: 1.1em;
  letter-spacing: -0.005em;
  margin: 0; /* Add this line to remove default body margin */
}

header {
  background-color: #06283D;
  position: relative;
}

#main-navbar ul {
  list-style-type: none;
  padding: 0px;
  margin: 0px;
  position: relative;
  display: inline-block;
}

#main-navbar ul li {
  float: left;
  position: relative;
}

#main-navbar ul li a {
  display: block;
  padding: 10px 60px;
  color: #47B5FF;
  text-align: center;
  text-decoration: Highlight;
  font-weight: bold;
}

#main-navbar ul li a:hover {
  background-color: #EBB813;
}

#navbar-container {
  width: 100%;
  position: relative;
  text-align: center;
}

h1 {
  text-align: center;
  background-color: #2B819E;
}

h4 {
  text-align: center;
  background-color: #47B5FF;
  margin: auto;
  padding: 5px;
}

h2 {
  background-color: #6E7373;
  font-size: 1.0em;
  text-align: center;
  border-top-left-radius: 0px;
  border-top-right-radius: 0px;
  border-bottom-right-radius: 0px;
  border-bottom-left-radius: 0px;
  padding: 5px;
}

h3 {
  background-color: #FFDBB5;
  padding: 2px;
}

#map {
  position: relative; /* Change from absolute to relative */
  width: 50%;
  height: 40%;
  margin: 10px auto; /* Center the map horizontally with auto margins */
  border: solid red 5px;
  border-radius: 10px;
}

@media screen and (min-width: 600px) {
  #summary {
    padding: 0;
    margin-right: auto;
    margin-left: auto;
    list-style: none;
    text-align: center;
  }
}

@media screen and (min-width: 600px) {
  .sporting {
    padding: 0;
    margin-right: auto;
    margin-left: auto;
    list-style: none;
    text-align: center;
  }
}
